@use '../../styles/mixins'as *;
@use '../../styles/variables'as *;

.section-header-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 32px;

  .section-header {
    padding-bottom: 5px;
    border-bottom: 4px solid var(--primary-color);
    font-family: $font-family-heading;
    font-weight: 700;
    font-size: 34px;
    color: var(--primary-text-color);
  }
}